<header>
  <a href="/"> <h2 class="logo">Sistema Médico</h2></a>
  <nav>
    <ul>
      <li><a href="/register">Cadastrar Novo Médico</a></li>
      <li><a href="/list">Médicos Cadastrados</a></li>
      <li><a href="/search">Procurar por Médicos</a></li>
    </ul>
  </nav>
</header>
